LeisnerWebApp/LeisnerWebApp/Service References/ServiceReference2/DBAccessService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LeisnerWebService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LeisnerWebService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Common" nillable="true" type="tns:Common" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommon" nillable="true" type="tns:ArrayOfCommon" />
  <xs:complexType name="Common">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayId" type="xs:int" />
      <xs:element minOccurs="0" name="HourId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="SizeId" type="xs:int" />
      <xs:element minOccurs="0" name="WeekId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Common" nillable="true" type="tns:Common" />
  <xs:complexType name="ArrayOfStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stats" nillable="true" type="tns:Stats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStats" nillable="true" type="tns:ArrayOfStats" />
  <xs:complexType name="Stats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Day_of_week" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pee_size" type="xs:int" />
      <xs:element minOccurs="0" name="Week_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stats" nillable="true" type="tns:Stats" />
</xs:schema>